
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arsenal', sans-serif;
}
body {
    height:  100vh;
    background-image: url(/assets/images/fbackg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container {
    height: 92%;
    width: 77%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8,1fr);
    gap: 10px;
}

.item{
    background-color: #090808;
    padding: 0.5em;
    border: 5px solid #fefefe;
    border-radius: 25px;
    box-sizing: border-box;
}
#headerbox {
    grid-column: 1/11;
}
#balanceheading {
    display: flex;
    justify-content: center;
    color: #fefefe;
    font-size: 17px;
}
#balance {
    grid-row: 2/8;
    grid-column: 1/4;
}
#incomehead {
    display: flex;
    justify-content: center;
    color: #090808;
    font-size: 17px;
}
#income {
    grid-row: 2/5;
    grid-column: 4/8;
}
#expense {
    grid-row: 5/8;
    grid-column: 4/8;
}
#transacthead {
    display: flex;
    justify-content: center;
    color: #fefefe;
    font-size: 17px;
}
#transactions {
    grid-row: 2/8;
    grid-column: 8/11;
}
#footerbox {
    grid-row: 8/8;
    grid-column: 1/11;
}

.innercont {
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 10px;
}
.item2 {
    background-color: #090808;
    padding: 1em;
    border: 5px solid #fefefe;
    border-radius: 25px;
    box-sizing: border-box;
    grid-row: 2/13;
}
.item3 {
    background-color: #fefefe;
    border-radius: 25px;
    box-sizing: border-box;
    grid-row: 2/13;
}
.welcome {
    height:100%;
    width:auto;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(1,1fr);
}
#pfp {
    grid-column: 1/2;
}
.item4 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#pfp img {
    height: 45px;
    width: 45px;
    
}
#user {
    grid-column: 2/4;
    color: #fefefe;

}
.welcometxt {
    display: flex;
    align-items: center;
}
.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#amount1 {
    margin-top: 60px;
}
#amount2 {
    margin-top: 10px;
}
#amount1, #amount2, #categ, #desc {
    font-size: 10px;
    text-transform: uppercase;
}
.input .item6 {
    margin: 5px 0;
    height: 90%;
    width: 98%;
    background-color: #fefefe;
    padding: 1em;
    border: 5px solid #090808;
    border-radius: 25px;
    box-sizing: border-box;
}
#expensehead {
    display: flex;
    justify-content: center;
    color: #090808;
    font-size: 17px;
}
.footer {
    width: 30%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
}
.ftitem  {
    color: #fefefe;
    display: flex;
    justify-content: center;
    font-size: small;
}
 a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }
 a:hover {
    color:#c9161d;
}
button {
    font-size: 17px;
    background: #fefefe;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}
button:hover {
    color: #c9161d;
}
.bbsubgrid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(3,1fr);
}
.bitem {
    font-size: 12px;
    color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
}
#currbal {
    background-color: #fefefe;
    color: #090808;
    border-radius: 25px;
    box-sizing: border-box;
    grid-column: 1/4;
    font-size: 30px;
}
#monlim {
    grid-column: 1/2;
    grid-row: 2/3;
}
#monlimv {
    grid-column: 3/4;
    grid-row: 2/3;
}
#totexp {
    grid-column: 1/2;
    grid-row: 3/4;
}
#totexpv {
    grid-column: 3/4;
    grid-row: 3/4;
}
#estinc {
    grid-column: 1/2;
    grid-row: 4/5;
}
#estincv {
    grid-column: 3/4;
    grid-row: 4/5;
}
#updates {
    background-color: #fefefe;
    color: #090808;
    border-radius: 20px;
    box-sizing: border-box;
    grid-column: 2/3;
    grid-row: 5/6;
    font-size: 15px;
}
#add1 {
    grid-column: 1/2;
    grid-row: 6/7;
}
#add1v {
    grid-column: 3/4;
    grid-row: 6/7;
}
#add2 {
    grid-column: 1/2;
    grid-row: 7/8;
}
#add2v {
    grid-column: 3/4;
    grid-row: 7/8;
}
#exp1 {
    grid-column: 1/2;
    grid-row: 8/9;
}
#exp1v {
    grid-column: 3/4;
    grid-row: 8/9;
}
.thsubgrid1 {
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.thsubgrid2 {
    margin-top: 5%;
    width: 100%;
    height: 25%;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);
}
.thitem {
    font-size: 14px;
    color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
}
#filter1, #filter2, #filter3 {
    background-color: #fefefe;
    color: #090808;
    border-radius: 25px;
    box-sizing: border-box;
}

            /*SUBGRID 1*/

#filterh {
    grid-column: 2/3;
    grid-row: 1/2;
}
#filter1 {
    grid-column: 1/2;
    grid-row: 2/3;
}
#filter2 {
    grid-column: 2/3;
    grid-row: 2/3;
}
#filter3 {
    grid-column: 3/4;
    grid-row: 2/3;
}

            /*SUBGRID 2*/

#type1 {
    grid-column: 1/2;
    grid-row: 1/2; 
}
#type2 {
    grid-column: 1/2;
    grid-row: 2/3;
}
#type3 {
    grid-column: 1/2;
    grid-row: 3/4;
}

#cat1 {
    grid-column: 2/3;
    grid-row: 1/2; 
}
#cat2 {
    grid-column: 2/3;
    grid-row: 2/3; 
}
#cat3 {
    grid-column: 2/3;
    grid-row: 3/4; 
}

#amo1 {
    grid-column: 3/4;
    grid-row: 1/2; 
}
#amo2 {
    grid-column: 3/4;
    grid-row: 2/3; 
}
#amo3 {
    grid-column: 3/4;
    grid-row: 3/4; 
}

#date1 {
    grid-column: 4/5;
    grid-row: 1/2; 
}
#date2 {
    grid-column: 4/5;
    grid-row: 2/3; 
}
#date3 {grid-column: 4/5;
    grid-row: 3/4;}